 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, Helvetica, sans-serif;
    }

    body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:#1f1f1f;
    }

    .weather-card{
      width:350px;
      padding:25px;
      border-radius:25px;
      background:linear-gradient(135deg,#44e1c5,#5d6bdc);
      color:white;
      text-align:center;
      box-shadow:0 10px 30px rgba(0,0,0,0.3);
    }

    .search-box{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-bottom:30px;
    }

    .search-box input{
      width:78%;
      padding:15px 20px;
      border:none;
      outline:none;
      border-radius:30px;
      font-size:18px;
      color:#555;
    }

    .search-box button{
      width:55px;
      height:55px;
      border:none;
      border-radius:50%;
      background:white;
      cursor:pointer;
      font-size:20px;
    }

    .weather-icon{
      width:120px;
      margin:10px auto;
    }

    .temperature{
      font-size:70px;
      font-weight:bold;
      margin-top:10px;
    }

    .city{
      font-size:50px;
      margin-top:10px;
      font-weight:500;
    }

    .details{
      display:flex;
      justify-content:space-between;
      margin-top:40px;
    }

    .col{
      display:flex;
      align-items:center;
      text-align:left;
      gap:10px;
    }

    .col img{
      width:35px;
    }

    .humidity,
    .wind{
      font-size:24px;
      font-weight:bold;
    }

    .text{
      font-size:14px;
    }

    .error{
      text-align:left;
      margin-top:10px;
      color:#ffdddd;
      display:none;
    }